/* ForeGround [Common across work-spaces (view-styles)] */

  
.scale{
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0px;
    background-color: brown;
}

/* (RHS) Search Bar & Results
    - Outer Container
    - Key-display and input Container
        - Key-display (display path)
        - Key-Input (display last input character/word)
*/
.sb_container{
    position: fixed;
    right:0;
    width: 500px;
    height: 100%;
    
}
.sb_displayinput{
    position: relative;
    left: 5px;
    top:10px;
    width: 400px;
    height: 40px;

    text-align: left;
    text-overflow: clip;

    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 6px 6px 6px #c7c7c7,
                inset -6px -6px 6px #f9f9f9;
}
.sb_pathview{
    position: relative;
    left: 15px;
    top:10px;

    width: 390px;
    height: 40px;

    text-align: justify;
    overflow-y:  hidden;
}
.cmdtext{
    position: relative;
    left: 25px;
    top:9px;
}  